@tailwind base;
@tailwind components;
@tailwind utilities;

/* LOG IN/SIGN UP BUTTON ANIMATION */
@keyframes wave {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(120%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 2s; /* Specify the duration (e.g., 1s) */
}

.wave-on-hover:hover {
  display: inline-block;
  animation: wave 1s infinite;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (max-width: 767px) {
  .justify-evenly {
    justify-content: center;
  }
}

/* "C" Shape */
.c-shape {
  position: absolute;
  left: -16px;
  top: 0;
  bottom: 0;
  width: 16px;
  background-color: inherit;
  border-radius: 0 50% 50% 0;
}

.c-shape::before,
.c-shape::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  background-color: #ffffff; /* Set the background color to match the page background */
}

.c-shape::before {
  left: -16px;
  border-radius: 50% 0 0 50%;
}

.c-shape::after {
  right: -16px;
  border-radius: 0 50% 50% 0;
}
